<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.spr.f.lux</string>
	<key>connections</key>
	<dict>
		<key>00461DF3-5F9C-4F69-807E-1DB7A0C99B7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCDBDC56-E1D0-476D-B72B-D23A74A640DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>31605F54-518C-4C42-BAAD-9713B3C70B22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCDBDC56-E1D0-476D-B72B-D23A74A640DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>391BCDBC-0320-4023-9ECB-2B858484C318</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31605F54-518C-4C42-BAAD-9713B3C70B22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>63C19FF5-B913-41D9-A005-297ED4AA5B48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00461DF3-5F9C-4F69-807E-1DB7A0C99B7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>Change the screen color temperature</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>f.lux</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>flux</string>
				<key>script</key>
				<string>php script-filter.php "{query}"</string>
				<key>subtext</key>
				<string>Flux</string>
				<key>title</key>
				<string>Flux</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63C19FF5-B913-41D9-A005-297ED4AA5B48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./action.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00461DF3-5F9C-4F69-807E-1DB7A0C99B7A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Flux</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DCDBDC56-E1D0-476D-B72B-D23A74A640DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./action.sh disable-3600</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>31605F54-518C-4C42-BAAD-9713B3C70B22</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>disflux</string>
				<key>text</key>
				<string>Disable Flux for an Hour</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>391BCDBC-0320-4023-9ECB-2B858484C318</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Based on Benzi Ahamed’s flux workflow. Here, I’ve updated it to work with newer f.lux versions.</string>
	<key>uidata</key>
	<dict>
		<key>00461DF3-5F9C-4F69-807E-1DB7A0C99B7A</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>31605F54-518C-4C42-BAAD-9713B3C70B22</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>391BCDBC-0320-4023-9ECB-2B858484C318</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>63C19FF5-B913-41D9-A005-297ED4AA5B48</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>DCDBDC56-E1D0-476D-B72B-D23A74A640DB</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.packal.org/workflow/flux</string>
</dict>
</plist>
